/*======== Desktop ======= */
@media screen and (min-width: 992px) {
    .logo {
        font-size: 1.6rem;
        font-weight: bold;
    }

    .home-section .banner-img {
        width: -webkit-fill-available;
        height: auto;
    }

    .home-section .home-text {
        font-size: 22px;
    }

    h2 {
        font-size: 36px;
        font-weight: 600;
    }

    .about-section p {
        font-size: 20px;
    }

    .skills-section p {
        font-size: 20px;
    }

    .experience-section li {
        font-size: 20px;
    }

    .contact-section .text-one {
        font-size: 20px;
        font-weight: 600;
    }

    .contact-section .text-two {
        font-size: 24px;
        font-weight: 600;
    }
}

/*======== Desktop End======= */

/*======== Mobile ======= */
@media screen and (max-width: 991px) {
    .logo {
        font-size: 1.2rem;
        font-weight: bold;
    }

    .home-section .banner-img {
        width: 250px;
        height: auto;
    }

    .home-section .home-text {
        font-size: 16px;
    }

    h2 {
        font-size: 28px;
        font-weight: 600;
    }

    .about-section p {
        font-size: 16px;
    }

    .skills-section p {
        font-size: 16px;
    }

    .experience-section li {
        font-size: 16px;
    }

    .contact-section .text-one {
        font-size: 16px;
        font-weight: 600;
    }

    .contact-section .text-two {
        font-size: 20px;
        font-weight: 600;
    }
}

/*======== Mobile End======= */

.top-navbar .navbar-toggler {
    border-color: lightgray;
}

.top-navbar .navbar-toggler-icon {
    filter: brightness(0.5) invert(0.5);
}

.about-section strong {
    font-weight: 600;
}

.skills-section strong {
    font-weight: 600;
}

.skills-section code {
    font-size: 1em;
}

.contact-section .text-two {
    text-decoration: none;

}

.app.dark .contact-section .text-two {
    color: var(--text-dark);
}

.app:not(.dark) .contact-section .text-two {
    color: var(--text-light)
}
