/*======== Desktop ======= */
@media screen and (min-width: 992px) {
    .logo {
        font-size: 1.6rem;
        font-weight: bold;
    }
}

/*======== Desktop End======= */

/*======== Mobile ======= */
@media screen and (max-width: 991px) {
    .logo {
        font-size: 1.2rem;
        font-weight: bold;
    }
}

/*======== Mobile End======= */

.top-navbar .navbar-toggler {
    border-color: lightgray;
}

.top-navbar .navbar-toggler-icon {
    filter: brightness(0.5) invert(0.5);
}